<nav class="header">
      <a class="nav-link" href="/">ALL POSTS</a>
      <a class="l" href="" style="color:aliceblue; cursor:default;">--------------</a>
      <a class="nav-link" href="/addnewpost">NEW POST</a>
</nav>


<style scoped>
      .header {
            text-align: center;
            padding-top: 15px;
            height: 5%;
            background-color: aliceblue;
          }
      .header a {
            text-decoration: none;
            font-weight: bolder;
            color: black;
             font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
</style>

