<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=>, initial-scale=1.0">
<title> Create a post</title>
<body>
<%- include('./partials/header.ejs') %>
<br>
<div class="create-post">
    <h1>Create a post</h1>

    <form action="/posts" method="POST">
        <label for="title">Post title:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="body">Post body:</label>
        <input type="text" id="body" name="body" required><br><br>
        <label for="urllink"> URL link:</label>
        <input type="text" id="urllink" name="urllink"></textarea><br><br>
        <button>Submit</button>
    </form>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>


<style scoped>
    body {
        padding: 0;
        margin: 0;
        background-color: rgb(145, 160, 193);
    }
    .create-post {
        width: 60%;
        margin-left: 20%;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: aliceblue;
        padding-bottom: 40px;
        border-radius: 4px;
        box-shadow: 1px 1px 4px 1px;
    }

    .create-post h1{
        padding-top: 40px;
    }

    .create-post button{
        box-shadow: 1px 1px 3px 1px;
        border-radius: 2px;
    }
    </style>